<div class="container">
  <div class="row">
    <div class="col-md-12"><h1>Movie Manager</h1></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Movies</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="name">
            </div>
            <div class="form-group">
              <label for="year">Year</label>
              <input type="text" class="form-control" id="year" placeholder="Year">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
          </form>
          <ul class="list-group movies">
            <li class="list-group-item">Cras justo odio
              <span class="icons">
                <span class="glyphicon glyphicon-pencil text-info"></span>
                <span class="glyphicon glyphicon-remove text-danger"></span>
              </span>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Pictures</h3>
        </div>
        <div class="panel-body">
          <div class="row images">
            <div class="col-md-4 image">
              <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
    9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
               <div class="actions">
                 <button class="btn btn-danger">Remove <span class="glyphicon glyphicon-remove text-danger"></span></button>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>